<app-header> </app-header>

<div>
  <div class="item">
    <div class="ui icon input">
      <input name="searchProducts" type="text" id="searchProducts" #newSearchProduct placeholder="Search Products...">
      <i class="search link icon"></i>
      <!-- (click)="searchProducts(product)" -->
    </div>
    <div class="ui grid posts">
      <ul>
        <li *ngFor="let product of products"></li>
      </ul>
    </div>
  </div>
</div>

<!-- <product-list
    [productList] = "products"
    (onProductSelected)="productWasSelected($event)">
  </product-list> -->

<router-outlet></router-outlet>